.vs/

CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
*FileListAbsolute.txt

SDL_config.h

*.exe
*.exp
*.ilk
*.lib
*.obj
*.pdb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.log
*.tlog
*.rule
