.build/
.vs/
Docs/html
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
*FileListAbsolute.txt
SDL_config.h

*.exe
*.exp
*.ilk
*.a
*.lib
*.obj
*.pdb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.log
*.tlog
*.rule
